<div class="row">
    <div class="col-xs-12">
        <div class="calendar-month">
            <button 
                class="btn btn-primary" 
                (click)="getPreviousMonth()"
                [disabled]="month === 0">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </button>

            <h4>
                {{getMonth()}}
            </h4>

            <button 
                class="btn btn-primary" 
                (click)="getNextMonth()"
                [disabled]="month === 11">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
        </div>
        <div class="calendar-header">
            <ul class="list-group" *ngFor="let dayName of week">
                <li class="list-group-item">{{dayName}}</li>
            </ul>
        </div>
        <div class="calendar">
            <div class="calendar-days" [@days]="state" *ngFor="let day of days; let i = index">
                <app-scheduler-days 
                    [day]="day"
                    [inMonth]="getInMonth(day)"
                    [events]="eventSub(day) | async"
                    routerLink="/calendar/{{day}}"
                >
                </app-scheduler-days>  
            </div>
        </div>
    </div>
</div>

  
  
